@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  font-family : 'Nanum Myeongjo';
  backgroud:black;
}
.App {
  width : 80%;
  margin : 0 auto;
  background: white;
}
.intro{
  padding : 8rem 0 8rem 0;
  justify-content: center;
  font-family : 'Nanum Myeongjo';
}
.greeting{
  margin : 0 auto;
  padding : 5rem 0 0rem 0;
  justify-content: center;
}
.greetingContent{
  width: 79%;
  margin : 0 auto;
  padding: 8rem 0 0 0;
  justify-content: center;
}
.gallery{
  margin : 0 auto;
  padding : 8rem 0 0rem 0;
  justify-content: center;
}
.location{
  margin : 0 auto;
  padding : 8rem 0 5rem 0;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (min-width:720px) {
  html, body{max-width:720px; margin:0 auto;}
}
